/* FONT */
@font-face {
    font-family: proximaFonts;
    src: url(font/ProximaNovaFont.otf);
}
/* FONT */

body{
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg, rgb(9, 9, 50),rgb(15, 34, 86), rgb(5, 35, 87));
    background-repeat: no-repeat;
    height: 100%;
    font-family: proximaFonts;
}

*{
    color: white;
    font-family: proximaFonts;
}

/* NAVBAR */
nav{
    z-index: 10;
    background: linear-gradient(120deg, rgb(9, 9, 50),rgb(15, 34, 86), rgb(5, 35, 87));
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* margin: 20px; */
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: white; */
}

nav ul li a{
    text-decoration: none;
    color: inherit;
}

nav ul li{
    list-style: none;
    margin-left: 20px;
}

nav ul{
    margin-right: 120px;
    display: flex;
}

nav img{
    width: 100px;
    height: 20px;
    margin-left: 80px;
}
/* NAVBAR */

/* CONTENT */
main{
    margin: 100px;
}

main h1{
    font-weight: 300;
    /* text-align: left; */
}

main p{
    color: rgb(192, 191, 191);
}

main button{
    background-color: transparent;
    color: white;
    border: solid 1px white;
    padding: 10px;
    cursor: pointer;
    border-radius: 360px;
    -webkit-border-radius: 360px;
    -moz-border-radius: 360px;
    -ms-border-radius: 360px;
    -o-border-radius: 360px;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    align-items: center;
}

main .content{
    margin-top: -50px;
}

main .carousel{
    margin-top: 50px;
    cursor: pointer;
}

main .main .content{
    display: flex;
    flex-direction: column;
}
main .main .content .bagian1 .left{
    width: 800px;
    /* height: 500px; */
}

main .main .content .bagian2 .kotak{
    width: 800px;
    /* height: 500px; */
}

main .main .content .bagian2{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
/* CONTENT */

/* FOOTER */
footer .footerBag1{
    margin: 100px;
    margin-top: 500px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
}

footer .footerBag1 .fbag1{
    width: 30%;
}

footer .footerBag1 .fbag1 h1{
    font-weight: 100;
}

/* footer .fbag2, footer .fbag3, footer .fbag4{
    margin-left: ;
} */

footer .footerBag1 .fbag1 button{
    border: 1px solid white;
    border-radius: 360px;
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
}

footer .footerBag2 .footBawah{
    margin: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: =; */
    
}
footer .footerBag2 .footBawah .fb1{
    margin-right: 20px;
}

footer .footerBag2 .footBawah .fb2{
    font-size: 10px;
}

footer .footerBag2 .footBawah .fb3{
    display: block;
    width: 400px;
    margin-left: 200px;
}

/* FOOTER */

/* CAROUSEL */
* {box-sizing: border-box}
.mySlides1, .mySlides2 {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a grey background color */
.prev:hover, .next:hover {
  background-color: #f1f1f1;
  color: black;
}

/* CAROUSEL */